<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href=https://unpkg.com/spectre.css/dist/spectre.min.css>
<link rel="stylesheet"
	href=https://unpkg.com/spectre.css/dist/spectre-exp.min.css>
<link rel="stylesheet"
	href=https://unpkg.com/spectre.css/dist/spectre-icons.min.css>
<title th:text="${headerTitle}">Insert title here</title>
</head>

<style type="text/css">
.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex div {
	width: 33%;
}

</style>

<body>
	<div th:replace="~{block/header_navnew::header_nav}"></div>
	<div class="container">
		<div class="columns">
			<div class="column col-3">
				<!-- <h3 class="text-center p-2">Menu</h3> -->
				<div class="bg-gray">
					<!-- <ul class="nav">
 <li class="nav-item">
 <a href="#">Elements</a>
 </li>
 <li class="nav-item active">
 <a href="#">Layout</a>
 <ul class="nav">
 <li class="nav-item">
 <a href="#">Flexbox grid</a>
 </li>
 <li class="nav-item">
 <a href="#">Responsive</a>
 </li>
 <li class="nav-item">
 <a href="#">Navbar</a>
 </li>
 <li class="nav-item">
 <a href="#">Empty states</a>
 </li>
 </ul>
 </li>
 <li class="nav-item">
 <a href="#">Components</a>
 </li>
 <li class="nav-item">
 <a href="#">Utilities</a>
 </li>
 </ul> -->
				</div>
			</div>

			<div class="column col-9">

				<h3 th:text="${title}" class="text-left p-2">プロジェクト一覧</h3>
				<a href="#" th:href="@{/project/add}" class="btn btn-primary m-1">新規投稿する</a>
				<div class="flex">
					<div th:each="project : ${projectList}" class="card m-1">
						<div class="card-header">
							<div th:text="${project.projectName}" class="card-title h5">プロジェクト1</div>
							<div class="card-subtitle text-gray">user</div>
						</div>
						<div class="card-body">
							<p th:text="${project.detail}">プロジェクトの内容</p>
						</div>
						<div class="card-footer">
							<a class="btn"
								th:href="@{/project/{id}(id=${project.projectId})}">詳細</a>
						</div>
						<p class="m-1">
							投稿日：<small th:text="${project.created}" class="m-1"></small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>