<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href=https://unpkg.com/spectre.css/dist/spectre.min.css>
<link rel="stylesheet"
	href=https://unpkg.com/spectre.css/dist/spectre-exp.min.css>
<link rel="stylesheet"
	href=https://unpkg.com/spectre.css/dist/spectre-icons.min.css>
<title th:text="${headerTitle}">Insert title here</title>
</head>
<body>
	<div th:replace="~{block/header_navnew::header_nav}"></div>

	<div class="container" th:object="${project}">
		<div class="columns">
			<div class="column col-6 col-mx-auto">
				<h3 th:text="*{projectName}" class="m-2 p-2">プロジェクト名</h3>

				<div class="column col-12 col-mx-auto m-2 p-2 bg-gray">
					<h5>【プロジェクトの内容】</h5>
					<div class="content">
						<p th:text="*{detail}"></p>
					</div>

					<h5>【プロジェクトのレベル】</h5>
					<div class="content">
						<p th:text="*{levelType.levelType}"></p>
					</div>

					<h5>【プロジェクトの期間】</h5>
					<div class="content">
						<p th:text="*{durationType.durationType}"></p>
					</div>
				</div>
				<form method="post" action="#" class="p-2 m-2">
					<input type="hidden" name="id" th:value="*{projectId}"> <input
						type="hidden" name="projectName" th:value="*{projectName}">
					<input type="hidden" name="detail" th:value="*{detail}"> <input
						type="hidden" name="levelId" th:value="*{LevelType.levelId}">
					<input type="hidden" name="durationId"
						th:value="*{durationType.durationId}"> <input
						type="hidden" name="created" th:value="*{created}"> <input
						type="hidden" name="updated" th:value="*{updated}"> <input
						type="submit" class="btn btn-primary"
						th:formaction="@{/project/__*{projectId}__/edit}" value="編集する">
					<a href="#" class="btn" th:href="@{/}">戻る</a>
				</form>
			</div>
			<div class="column col-4">
				<form method="post" action="#"
					th:action="${commentForm.isNewComment} ? @{/project/comment} : @{/project/update}"
					th:object="${commentForm}">

					<div class="form-group m-2">

						<textarea class="textarea" cols="45" rows="4" name="remark"
							id="remark" placeholder="Add a comment..." th:field="*{remark}"></textarea>

						<div th:if="${#fields.hasErrors('remark')}" th:errors="*{remark}"></div>
					</div>
					<div class="field">
						<p class="control" th:if="${commentForm.newComment}">
							<input type="hidden" name="projectId" id="projectId"
								th:value="${project.projectId}">
							<button class="btn" type="submit"
								th:formaction="@{/project/__*{projectId}__/comment}">コメントする</button>
						</p>
						<p class="control" th:unless="${commentForm.newComment}">
							<input type="hidden" name="id" id="id" th:value="*{id}">
							<input type="hidden" name="projectId" id="projectId"
								th:value="${project.projectId}">
							<button class="btn" type="submit"
								th:formaction="@{/project/__*{projectId}__/comment/update}">保存する</button>
						</p>
					</div>
				</form>
				<br>
				<div th:if="${comment.commentId} != 0"
					th:each="comment,stat:*{commentList}" class="tile m-2 p-2">
					<div class="tile-icon">
						<div class="avatar avatar-lg">
							<img src="img/avatar-1.png" alt="...">
							<!-- <i class="avatar-presence online"></i> -->
						</div>
					</div>
					<div class="tile-content">
						<p class="tile-title">user</p>
						<p class="tile-subtitle"
							th:name="${'commentList[' + stat.index + '].remark'}"
							th:text="${comment.remark}"></p>
					</div>
					<div class="tile-action">
						<form method="post" action="#" class="float-right">
							<input type="hidden" name="commentId" id="commentId"
								th:value="${comment.commentId}"> <input type="hidden"
								name="projectId" id="projectId" th:value="*{projectId}">
							<button class="btn btn-primary" type="submit"
								th:formaction="@{/project/__*{projectId}__/comment/edit}">編集する</button>
							<button class="btn" type="submit"
								th:formaction="@{/project/__*{projectId}__/comment/delete}">削除する</button>
						</form><br>
						<p>
							投稿日：<small th:text="${comment.created}"></small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>