<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header_nav">
	<header class="navbar m-2">
		<section class="navbar-section">
			<a href="..." class="navbar-brand mr-2">PoCo</a>
		</section>
		<section class="navbar-section">
			<div class="input-group input-inline">
				<i class="icon icon-2x icon-people m-1"></i>
				<button class="btn btn-link input-group-btn">ログイン</button>
				<button class="btn btn-link input-group-btn">サインアップ</button>
			</div>
		</section>
	</header>

	<div class="hero-sm bg-primary p-2">
		<div class="hero-body">
			<h1>Portfolio Community</h1>
			<h4>- 協同制作コミュニティ -</h4>
		</div>
	</div>

	<ul class="tab m-2 p-2">
		<li class="tab-item"><a href="#">Portfolio</a></li>
		<li class="tab-item"><a href="#">Project</a></li>
		<li class="tab-item tab-action">
			<div class="input-group input-inline">
				<input class="form-input" type="text">
				<button class="btn btn-primary input-btn">Search</button>
			</div>
		</li>
	</ul>
</div>
</html>